{% extends "base.html" %}

{% macro render_input(name, id, max_score=30) -%}
<div class="col">
    <label class="sr-only" for="{{ id }}">{{ name }}</label>
    <div class="input-group mb-2">
        <input type="number" step="0.01" min="0" max="{{ max_score }}" name="{{ id }}" class="form-control"
            id="{{ id }}" placeholder="{{ name }}" required>
        <div class="input-group-append">
            <div class="input-group-text">/ {{ max_score }}</div>
        </div>
        <div class="invalid-feedback">
            Input must be in range 0-30.
        </div>
    </div>
</div>
{%- endmacro %}

{% macro render_modal(submission, id) -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Judge {{ submission.anon_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <a href="{{ url_for('base.cdn', filename=submission.anon_path[1:]) | unquote }}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Download submission
                </a>

                <form class="needs-validation" novalidate>
                    <input type="hidden" name="submissionId" value="{{ submission.id }}">

                    <div class="form-row">
                        {{ render_input("Musical Representation", "musicRepr") }}
                        {{ render_input("Gameplay", "gameplay") }}
                    </div>

                    <div class="form-row">
                        {{ render_input("Creativity", "creativity") }}
                        {{ render_input("Hitsound", "hitsound", 10) }}
                    </div>

                    <div class="form-row">
                        <label for="commentArea">Overall Comment</label>
                        <textarea class="form-control" id="commentArea" rows="5"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-button">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% block header %}
<div class="py-5 text-center">
    <h2>Judge</h2>
</div>
{% endblock %}

{% block content %}
<div class="row pb-3">
    <ul class="list-group w-100">
        {% for s in submissions %}
        {% set level = "success" if s.has_judged else "danger" %}
        <li class="list-group-item d-flex justify-content-between align-items-center modal-opener" data-toggle="modal"
            data-target="#modal{{ loop.index0 }}">
            {{ s.anon_name }} -- {{ s.difficulty }}

            <span class="badge badge-{{ level }} badge-pill">
                {% if not s.has_judged %}
                Not judged
                {%else%}
                Judged
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

{% for s in submissions %}
{% set i = loop.index0 | string %}
{{ render_modal(s, "modal" + i) }}
{% endfor %}

<script src="/static/judging.js"></script>
{% endblock %}