body {
    background-color: #151417;
}

.card {
    background-color: #312f36;
}

.card-header {
    background-color: #1f1d24;
}

h5 {
    font-weight: bold;
}

.form-control {
    background-color: #222 !important;
    color: #fff !important;
}

.modal-opener {
    cursor: pointer;
}

.modal .card {
    background-color: #1f1d24;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.modal hr {
    border-top: 1px solid rgba(30, 30, 30, 0.75);
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: rgb(190, 0, 190, 0.75);
}

.page-item.disabled .page-link {
    background-color: #26242c;
}

.page-item.active .page-link {
    background-color: #2e2d35;
}

.page-item .page-link {
    background-color: #424046;
}

.page-item:hover .page-link {
    background-color: #2e2d35;
}


/* The following code was taken from
   https://bootsnipp.com/snippets/xrKXW */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #9c5af3;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/* END */