{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center">
    <h2>Kompetisi Mapping Akhir Tahun</h2>
    <p class="lead">osu! Thread | Discord</p>
</div>

<div class="row">
    <hr class="col-sm-6" style="color: white;">
</div>

<div class="py-3 text-center">
    <h4>Apa Itu KMAT?</h4>
</div>

<div class="row justify-content-center pb-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <strong>Lorem Ipsum</strong> adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf
                atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang
                cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh
                huruf. Ia tidak hanya bertahan selama 5 abad, tapi juga telah beralih ke penataan huruf elektronik,
                tanpa ada perubahan apapun. Ia mulai dipopulerkan pada tahun 1960 dengan diluncurkannya
                lembaran-lembaran Letraset yang menggunakan kalimat-kalimat dari Lorem Ipsum, dan seiring munculnya
                perangkat lunak Desktop Publishing seperti Aldus PageMaker juga memiliki versi Lorem Ipsum.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <hr class="col-sm-6" style="color: white;">
</div>

<div class="py-3 text-center">
    <h4>Hadiah</h4>
</div>


<div class="row justify-content-center align-items-center pb-3">
    <div class="col-sm-2">
        <div class="row mt-3 text-center">
            <p class="col text-warning"><i class="fas fa-crown"></i> Juara 1</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-body">
            <div class="row text-center">
                <div class="col">
                    <small><i class="text-danger fas fa-heart mr-1"></i></small>
                    ??? bulan supporter tag
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center pb-3">
    <div class="col-sm-2">
        <div class="row mt-3 text-center">
            <p class="col text-primary"><i class="fas fa-crown"></i> Juara 2</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-body">
            <div class="row text-center">
                <div class="col">
                    <small><i class="text-danger fas fa-heart mr-1"></i></small>
                    ??? bulan supporter tag
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center pb-3">
    <div class="col-sm-2">
        <div class="row mt-3 text-center">
            <p class="col"><i class="fas fa-crown"></i> Juara 3</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-body">
            <div class="row text-center">
                <div class="col">
                    <small><i class="text-danger fas fa-heart mr-1"></i></small>
                    ??? bulan supporter tag
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}