{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center">
    <h2>Informasi</h2>
</div>

<div class="row justify-content-center pb-3">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Persyaratan</h5>
            </div>
            <div class="card-body">
                Dibawah ini merupakan persyaratan untuk mengikuti KMAT:
                <ul class="mb-0">
                    <li>ur</li>
                    <li>mom</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center pb-3">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Jadwal</h5>
            </div>
            <div class="card-body">
                <ul class="timeline mb-0">
                    <li>
                        <span>Pengumuman</span>
                        <span class="float-right">13 Desember</span>
                    </li>
                    <li>
                        <span>Mapping</span>
                        <span class="float-right">20 Desember - 10 Januari</span>
                    </li>
                    <li>
                        <span>Judging</span>
                        <span class="float-right">11 Januari - 7 Februari</span>

                    </li>
                    <li>
                        <span>Hasil</span>
                        <span class="float-right">?? Februari</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center pb-3">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Peraturan</h5>
            </div>
            <div class="card-body">
                Dibawah ini merupakan peraturan selama KMAT:

                <hr>

                <strong>Umum</strong>
                <ul class="mb-0">
                    <li>ur</li>
                    <li>mom</li>
                </ul>

                <hr>

                <strong>Entry</strong>
                <ul class="mb-0">
                    <li>ur</li>
                    <li>mom</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}