{% extends "base.html" %}

{% macro render_staffs(staffs) -%}
{% for staff in staffs %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://a.ppy.sh/{{ staff.osu_uid }}" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ staff.username }}</h5>
                {% for role in staff.roles %}
                <span class="badge badge-secondary" style="color: #{{ role.role_color }};">
                    {{ role.name }}
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{%- endmacro %}

{% block content %}
<div class="text-center">
    <h3 class="py-5">Staff</h3>
    <div class="row pb-5 justify-content-center">
        {{ render_staffs(staffs) }}
    </div>

    <h3 class="py-5">Judge</h3>
    <div class="row pb-5 justify-content-center">
        {{ render_staffs(judges) }}
    </div>
</div>
{% endblock %}