{% from 'bootstrap/utils.html' import render_messages %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title | default("Index") }} · KMAT</title>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Baloo%202&display=swap" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    {% endblock %}

    {% block scripts %}
    {{ bootstrap.load_js() }}
    <script src="https://kit.fontawesome.com/f7639dc419.js" crossorigin="anonymous"></script>
    {% endblock %}

    <style>
        body {
            font-family: 'Baloo 2', 'Open Sans', sans-serif;
        }
    </style>

</head>

<body>
    <nav class="nav navbar navbar-expand-md navbar-dark">
        <a href="{{ url_for('base.index') }}" aria-current="page" class="navbar-brand p-0 active">
            KMAT
        </a>

        <button type="button" data-toggle="collapse" data-target="#dropdownTarget" class="navbar-toggler collapsed"
            aria-expanded="false"><span class="navbar-toggler-icon"></span>
        </button>

        <div id="dropdownTarget" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{{ url_for('base.index') }}" class="nav-link small">
                        Home
                    </a>
                </li>
                <li class="nav-item"><a href="{{ url_for('base.info') }}" class="nav-link small">
                        Informasi
                    </a>
                </li>
                <li class="nav-item"><a href="{{ url_for('submission.submit') }}" class="nav-link small">
                        Pengumpulan
                    </a>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('user.logout') }}" class="my-2 my-lg-0 small">
                <i class="fas fa-sign-out-alt"></i>
                Keluar
            </a>
            {% else %}
            <a href="{{ url_for('user.login') }}" class="my-2 my-lg-0 small">
                <i class="fas fa-sign-in-alt"></i>
                Masuk
            </a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block header %}{% endblock %}
        {{ render_messages() }}
        {% block content %}{% endblock %}
    </main>
</body>

</html>